/*
 * Copyright 2022 Harness Inc. All rights reserved.
 * Use of this source code is governed by the PolyForm Shield 1.0.0 license
 * that can be found in the licenses directory at the root of this repository, also available at
 * https://polyformproject.org/wp-content/uploads/2020/06/PolyForm-Shield-1.0.0.txt.
 */

.layout {
  width: 100vw;
  height: 100vh;

  /* Signup card widths */
  --min-width: 540px;
  --max-width: 35%;

  display: grid;
  grid-template-columns: minmax(var(--min-width), var(--max-width)) auto;
  grid-template-rows: 100vh;

  & .cardColumn {
    overflow-y: auto;
  }

  & .card {
    padding: 85px 40px;
    overflow-x: hidden;
    width: var(--min-width);
    margin: 0 auto;
  }

  & .imageColumn {
    overflow-y: hidden;
    background-color: #07182b;
    padding-left: 0px;

    & .foreground {
      position: sticky;
      top: 25%;
      right: 0px;
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: 1270px) {
  .layout {
    display: flex;
    justify-content: center;
  }

  .imageColumn {
    display: none;
  }
}

/* Firefox has a bug where padding-bottom is ignored when overflow occurs
 https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
@-moz-document url-prefix() {
  .disclaimer {
    margin-bottom: 85px !important;
  }
}
