.field {
  & .validation-outline {
    border-color: var(--red-500);
  }

  & .validation-outline:focus-visible {
    outline: 0;
    border-color: var(--red-500);
  }

  & .validation-message {
    color: var(--red-500);
  }

  & .info-message {
    color: var(--dark-outline);
    font-size: var(--font-size-small);
  }

  & input:disabled {
    background-color: var(--light-400);
  }
}
