.signup {
  & .header {
    display: flex;
    margin-bottom: var(--spacing-huge);
    align-items: center;
    font-size: var(--font-size-medium);
  }

  & .title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: var(--spacing-small);
  }

  & .subtitle {
    font-size: var(--font-size-medium);
    margin-bottom: var(--spacing-huge);
    color: var(--dark-400);
  }

  & .footer {
    margin-top: var(--spacing-huge);
  }

  & .validation-outline {
    border-color: var(--red-500);
  }

  & .validation-outline:focus-visible {
    outline: 0;
    border-color: var(--red-500);
  }

  & .validation-message {
    color: var(--red-500);
  }
}
